*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f0e6b8d2;
    color:#0c0101;
    background-image: url('../img/fondo\ disco.png');
    background-repeat: repeat; /* o no-repeat si es una sola imagen grande */
    background-size: contain; /* o contain, o un tamaño fijo como 300px */
    background-position: center;
}


.hero-image{
    width:100%;
    display:block;
}

.hero-content{
    text-align:center;
    padding:30px;
}

h1{
    font-family:'Great Vibes',cursive;
    font-size:70px;
    color:#e6b208d0;
}

h2{
    font-family:'Cormorant Garamond', serif;
    font-size:40px;
    color:#977504;
    margin-bottom:10px;
}

h3{
    margin-top:15px;
}

p {
    font-size: 20px;
}

.date-box{
    margin:25px 0;
}

.date-box span{
    font-size:65px;
    font-weight:bold;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#d4af37;
    color:white;
    border-radius:40px;
    text-decoration:none;
    margin-top:15px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.05);
}

.countdown{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:20px 0;
}

.countdown div{
    background:white;
    padding:10px;
    border-radius:15px;
    min-width:70px;
}

.countdown span{
    font-size:25px;
    font-weight:bold;
}

.card {
    background: none;
    margin: 25px;
    padding: 30px 120px; /* espacio a los costados para las bolas */
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    position: relative;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}

.card::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}

.gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    padding:20px;
}

.gallery img{
    width:100%;
    border-radius:20px;
}

.gift-box{
    margin-top:20px;
}

footer{
    text-align:center;
    padding:50px 20px;
}

@media(max-width:768px){

    h1{
        font-size:58px;
    }

    h2{
        font-size:42px;
    }

    .gallery{
        grid-template-columns:1fr;
    }

}